body{
    background-image:url("../assets/images/room.jpeg"); ;
}

.form{
    position: absolute;
    top: 0%;
    left: 70%;
    z-index: 1;

}
.list{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 30%;
    height: 65%;

}
.text{
    position: absolute;
    top: 17%;
    left: 75%;
}