<div class="list" >
  <div>
    <label style="font-size: x-large; font-weight: bold; margin-left: 10%;
       text-align: center;">next week Reservations</label>
    <br>
    <br>
      <mat-list>
        <mat-list-item *ngFor="let reservation of reservationList"  >
          <mat-card style="background-color: rgb(255, 255, 255); opacity: .8;">
            <mat-card-header>
              <mat-card-title style="margin-top: 2%;color: black; font-weight: bold;">{{reservation.name}}</mat-card-title>
              <mat-card-subtitle style="color: black;">form: {{reservation.startTime.day}}/{{reservation.startTime.month}}/{{reservation.startTime.year}}  {{reservation.startTime.hour}}:{{reservation.startTime.minute}} {{reservation.startTime.AMPM}} </mat-card-subtitle>
              <mat-card-subtitle style="color: black;">. . .to: {{reservation.endTime.day}}/{{reservation.endTime.month}}/{{reservation.endTime.year}}  {{reservation.endTime.hour}}:{{reservation.endTime.minute}} {{reservation.endTime.AMPM}} </mat-card-subtitle>

            </mat-card-header>
            <mat-card-actions align="end" style="overflow: visible;">
              <button mat-mini-fab matTooltip="Warn" color="warn" aria-label="Example fab with a heart icon" (click)="deleteReservation(reservation.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-list-item>
      </mat-list>
      
    </div>
      

</div>